h1, h2{
    text-decoration: underline;
    font-style: italic;
    color: whitesmoke;
    text-align: center;
}
table , th, td{
    border: 2px double whitesmoke;
    border-collapse: collapse;
}
td:hover{
    background-color: sandybrown;
}
p, li, td, a{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 800;
    color: whitesmoke;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
    outline: 2px solid red;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
    background-color: rgba(171, 169, 169, 0.419); 
}
body{
    background-image: url('city3.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}